<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>簡易BBS by sinatra</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <h1>簡易BBS by sinatra</h1>
  <h2>こんにちは。<%= current_user['name'] unless current_user.nil? %>さん</h2>

  <img src="/image/<%= @images.last %>"  width="500" height="400"/>

  <%# 画像投稿フォーム %>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="送信する">
  </form>

  <br>
  <h2>投稿フォーム</h2>
  <form action="/posts" method="POST">
    <label for="name">名前：</label>
    <input type="text" name="name" id="name" />
    <label for="email">メールアドレス：</label>
    <input type="email" name="email" id="email" />
    <label for="message">内容：</label>
    <input type="text" name="message" id="message"/>

    <input type="submit" value="送信する">
  </form>

  <br>
  <h2>書き込み</h2>
  <table class="table table-striped">
    <tr>
      <th>name</th>
      <th>mail</th>
      <th>message</th>
      <th></th>
    </tr>
    <% @sql.each do |row| %>
      <tr>
        <td><%= row['name'] %></td>
        <td><%= row['email'] %></td>
        <td><%= row['message'] %></td>
        <td>
          <div style="display:inline-flex">
            <form method="post" action="delete/<%= row['id'] %>">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="削除">
            </form>
          </div>
        </td>
      </tr>
    <% end %>
  </table>

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src='/js/bootstrap.bundle.min.js'></script>
  <script src='/js/bootstrap.min.js'></script>
</body>
</html>
